@import '../../../../index.scss';

.head {
    height: 25rem;
    width: 100vw;
    background-color: #F2F5F5;

    .title {
        z-index: 1;
        width: 100%;
        color: $text-primary;
        font-size: 5rem;
        letter-spacing: 1rem;
    }
}

.champion-nami {
    z-index: 0;
    position: absolute;
    left: 20%;
    top: 42%;
    width: 17rem;
}

.champion-ashe {
    z-index: 0;
    position: absolute;
    top: 40%;
    left: 70%;
    width: 17rem;
}


.input-col {
    height: 30rem;
    width: 100vw;
    flex-direction: column;
    padding-top: 10rem;
    padding-bottom: 10rem;
    #profile-selector {
        padding: 2rem;
        padding-right: 6rem;
        margin: auto;
        border: 2px solid $logo-color;
        border-radius: 10rem;
        width: 35rem;
        height: 4rem;
        font-size: 1.5rem;
    }
    .above-input {
        width: 30vw;
        font-size: 3rem;
    }
    #submit {
        position: absolute;
        left: 59%;
        width: 8rem;
        height: 4rem;
        background: none;
        border: none;
        outline: none;
        svg {
            filter: grayscale(100%) opacity(0.7);
            width: 2rem;
            min-width: 2rem;
            transition: $transition-speed;
        }
    }
    #submit:hover svg{
        filter: grayscale(0%) opacity(1);
    }
}

.underinput-col {
    height: 15rem;
    width: 100vw;
    background-color: #F2F5F5;
    .column-direction{
        flex-direction: column;
        #col-title {
            margin-top: 2rem;
        }
        svg {
            min-width: 5rem;
            width: 5rem;
        }
    }

}


