@import '../../../../index.scss';

.head {
    height: 25rem;
    width: 100vw;
    background-color: #F2F5F5;

    .title {
        width: 100%;
        color: $text-primary;
        font-size: 5rem;
        letter-spacing: 1rem;
    }
}

