@import '../../../../index.scss';

.footer {
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100vw;
    background-color: $logo-color;
}

.items {
    display: flex;
    direction: row;
    padding: 0.5rem;
    padding-left: 50rem;
    padding-right: 50rem;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    .col1 {
        margin-right: auto !important;
        .social-icon {
            margin: 0.5rem;
            transition: color $transition-speed;
            svg {
                width: 2rem;
            }
            path {
                color: white;
            }
        }
    
        .social-icon:hover path{
            color: $text-primary;
        }
    }
    .col3 {
        margin-left: auto !important;
        .social-icon {
            margin: 0.5rem;
            transition: color $transition-speed;
            svg {
                width: 2rem;
            }
            path {
                color: white;
            }
        }
    
        .social-icon:hover path{
            color: $text-primary;
        }
    }
}