@import '../../../../index.scss';


.content-col {
    padding-top: 5rem;
    max-width: 80%;
    margin-right: 2rem;
    .help-card {
        height: 100%;
        margin-left: 30em;
        .content-test{
            margin-bottom: 5rem;
            line-height: 2rem;
        }
        .subtitle-line {
            width: 20rem;
            border-bottom: 2px solid $logo-color;
            margin-bottom: 1rem;
        }
    }
}



.menu-col {
    padding-top: 5rem;
    width: 18%;
    border-left: 1px solid $icons-secondary;
    .menu {
        // padding-left: 7rem;
        height: 100%;
        width: 18%;
        position: fixed;
        text-align: justify;
        list-style: none;
        font-size: 1.5rem;
        padding-inline-start: 0 !important;
        .menu-item {
            margin-left: 1rem;
            margin-bottom: 2rem;
            height: 2rem;
            .help-link {
                text-decoration: none;
                color: $text-primary;
            }
        }
    }
}

.active a{
    color: $logo-color !important;
}

.active::before {
    content: '';
    margin-right: 1rem;
    border-left: 2px solid $logo-color;
}



