@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Permanent+Marker|Sen:400,700,800&display=swap');

$text-primary: #23232e;
$text-secondary: #141418;
$icons-primary: #ffffff;
$icons-secondary: #dddddd;
$icons-third: #bbbbbb;
$logo-color: #44C688;
$logo-color-secondary: #38a771;
$logo-third: #1d6945;
$transition-speed: 400ms;

html {
    height: 100vh;

    #root {
        min-height: 100vh;
    }
}

body {
    position: relative;
    font-size: 1rem !important;
    font-family: 'Sen', sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    a:hover {
        cursor: pointer;
        text-decoration: none;
        color: $logo-color;
    }
    textarea, select, input, button { outline: none; }
}

body::-webkit-scrollbar {
    width: 0.4rem;
}

body::-webkit-scrollbar-track {
    background: $icons-primary;
}

body::-webkit-scrollbar-thumb {
    background: $logo-color-secondary;
}

#container {
    min-height: 100vh;
    height: 100%;
    margin-top: 4.5rem;
}

.link {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $text-primary;
    text-decoration:none;
    letter-spacing: 0.1rem;
}


.sidebar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4.5rem;
    z-index: 9999;
    background-color: #F2F5F5;
    // -webkit-box-shadow: 0px 5px 32px -6px rgba(0,0,0,0.43);
    // -moz-box-shadow: 0px 5px 32px -6px rgba(0,0,0,0.43);
    // box-shadow: 0px 5px 32px -6px rgba(0,0,0,0.43);
}
  
.sidebar-nav {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    padding-left: 35rem;
    padding-right: 35rem;
}

.sidebar-item {
    height: 100%;
}

.sidebar-link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 5rem;
    justify-content: center;
    .link {
        transition: color $transition-speed;
    }
    .navlink {
        padding-top: 1.2rem;
        height: 100%;
    }
}


.sidebar-link:hover .link{
    color: $logo-color;
}

.logo-link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 6rem;
    img {
        width: 3rem;
        min-width: 3rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.fa-primary {
    color: $logo-color;
}

.fa-secondary {
    color: $logo-color-secondary;
}

.logo-text
{
    display: inline;
    position: absolute;
    left: -999px;
    transition: $transition-speed;
}


.is-active {
    // background: $icons-secondary;
    border-bottom: 1.5px solid $logo-color;
}

.is-active span{
    // background: $icons-secondary;
    color: $text-secondary;
}


/* Small screens */
@media only screen and (max-width: 600px) {
    body {
        min-width: 100vw;
    }
    .logo {
        display: none;
    }

    .list-champions {
        padding-inline-start: 0 !important;
    }

    .main {
        margin-left: 0;
        padding-bottom: 0;
    }

    .left-col {
        margin-top: 3rem;
    }

    .right-col {
        max-height: 55vh !important;
        margin-top: 1rem;
        overflow: auto;
    }

    .footer {
        display: none !important;
    }
    .home {
        width: 100vw;
        padding: 2rem;
    }

    .head {
        display:none !important;
    }

    .sidebar-nav {
        padding-left: 0;
        padding-right: 0;
    }

    .left-col {
        .undertext {
            margin-top: 2rem;
            font-size: 1rem;
            text-align: center;
        }
        
        .line {
            margin: auto;
            width: 100%;
            border-bottom: 3px solid $logo-color;
        }
        .title2 {
            font-family: 'Bebas Neue', cursive;
            font-size: 2rem;
            text-transform: uppercase;
        }

        .swords {
            width: 3rem;
            min-width: 3rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2rem;
        }
    }

    .input-col {
        height: 40rem;
        width: 100vw;
        flex-direction: column;
        padding-top: 14rem;
        padding-bottom: 14rem;
        .input-wrapper{
            flex-direction: column;
        }
        #profile-selector {
            padding: 0.5rem;
            margin: auto;
            border: 2px solid $logo-color;
            border-radius: 10rem;
            width: 15rem;
            height: 2rem;
            font-size: 1rem;
        }
        .above-input {
            width: 100vw;
            font-size: 2rem;
        }
        #submit {
            padding: 0.5rem;
            text-align: center;
            margin-left: 4rem;
            width: 6rem;
            height: 3rem;
            border-radius: 10rem;
            font-size: 1rem;
            letter-spacing: 0.2rem;
            margin: auto;
        }
    }

    .content-col {
        padding-top: 5rem;
        max-width: 80%;
        margin-right: 0;
        .help-card {
            height: 100%;
            margin-left: 0.5em;
            .content-test{
                margin-bottom: 5rem;
                line-height: 2rem;
            }
            .subtitle-line {
                width: 20rem;
                border-bottom: 2px solid $logo-color;
                margin-bottom: 1rem;
            }
        }
    }
    
    
    
    .menu-col {
        display: none;
    }
}

/* Large screens */
@media only screen and (min-width: 1025px) {

    .left-col {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .right-col {
        margin-top: 2rem;
        margin-bottom: 2rem;
        max-height: 100%;
        overflow: auto;
    }
    
    .list-champions {
        padding-inline-start: 0 !important;
    }
    
    .home {
        width: 96vw;
        padding: 3rem;
    }

    .content-col {
        padding-top: 5rem;
        max-width: 80%;
        margin-right: 2rem;
        .help-card {
            height: 100%;
            margin-left: 30em;
            .content-test{
                margin-bottom: 5rem;
                line-height: 2rem;
            }
            .subtitle-line {
                width: 20rem;
                border-bottom: 2px solid $logo-color;
                margin-bottom: 1rem;
            }
        }
    }
    
    
    
    .menu-col {
        padding-top: 5rem;
        border-left: 1px solid $icons-secondary;
        .menu {
            height: 100%;
            position: fixed;
            text-align: justify;
            list-style: none;
            font-size: 1.5rem;
            padding-inline-start: 0 !important;
            .menu-item {
                margin-left: 1rem;
                margin-bottom: 2rem;
                height: 2rem;
                .help-link {
                    text-decoration: none;
                    color: $text-primary;
                }
            }
        }
    }

}

  /*medium screens*/
  @media only screen and (min-width: 600px) and (max-width: 1024px){
    .logo {
        display: none;
    }

    .sidebar-link {
        justify-content: center;
    }

    .list-champions {
        padding-inline-start: 0 !important;
    }

    .main {
        margin-left: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .left-col {
        margin-top: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .right-col {
        max-height: 60vh !important;
        margin-top: 2rem;
        overflow: auto;
    }

    .footer {
        display: none !important;
    }

    .home {
        width: 100vw;
        padding: 2rem;
    }

    .head {
        height: 10rem;
        width: 100vw;
        background-color: #F2F5F5;
    
        .title {
            width: 100%;
            color: $text-primary;
            font-size: 2rem;
            letter-spacing: 1rem;
        }
    }

    .champion-nami {
        z-index: 0;
        position: absolute;
        left: 10%;
        top: 10%;
        width: 8rem;
    }
    
    .champion-ashe {
        z-index: 0;
        position: absolute;
        top: 10%;
        left: 80%;
        width: 8rem;
    }

    .sidebar-nav {
        padding-left: 0;
        padding-right: 0;
    }

    .input-col {
        height: 40rem;
        width: 100vw;
        flex-direction: column;
        padding-top: 10rem;
        padding-bottom: 10rem;
        #profile-selector {
            padding: 2rem;
            margin: auto;
            border: 2px solid $logo-color;
            border-radius: 10rem;
            width: 30rem;
            height: 4rem;
            font-size: 1.5rem;
        }
        .above-input {
            width: 60vw;
            font-size: 3rem;
        }
        #submit {
            text-align: center;
            margin-left: 4rem;
            width: 8rem;
            height: 4rem;
            font-size: 1.5rem;
            letter-spacing: 0.2rem;
        }
    }

    .content-col {
        padding-top: 2rem;
        max-width: 80%;
        margin-right: 1rem;
        .help-card {
            height: 100%;
            margin-left: 1em;
            .content-test{
                margin-bottom: 5rem;
                line-height: 2rem;
            }
            .subtitle-line {
                width: 20rem;
                border-bottom: 2px solid $logo-color;
                margin-bottom: 1rem;
            }
        }
    }
    
    
    
    .menu-col {
        padding-top: 2rem;
        border-left: 1px solid $icons-secondary;
        .menu {
            // padding-left: 7rem;
            height: 100%;
            width: 18%;
            position: fixed;
            text-align: justify;
            list-style: none;
            font-size: 0.7rem;
            padding-inline-start: 0 !important;
            .menu-item {
                margin-left: 0.5rem;
                margin-bottom: 2rem;
                height: 2rem;
                .help-link {
                    text-decoration: none;
                    color: $text-primary;
                }
            }
        }
    }
}