@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Permanent+Marker|Sen:400,700,800&display=swap');

$text-primary: #23232e;
$text-secondary: #141418;
$icons-primary: #ffffff;
$icons-secondary: #dddddd;
$icons-third: #bbbbbb;
$logo-color: #44C688;
$logo-color-secondary: #38a771;
$logo-third: #1d6945;
$transition-speed: 600ms;

html {
    height: 100%;

    #root {
        min-height: 100vh;
    }
}

body {
    position: relative;
    min-height: 100vh;
    font-size: 1rem !important;
    font-family: 'Sen', sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    a:hover {
        cursor: pointer;
        text-decoration: none;
        color: $logo-color-secondary;
    }
}

body::-webkit-scrollbar {
    width: 0.4rem;
}

body::-webkit-scrollbar-track {
    background: $icons-primary;
}

body::-webkit-scrollbar-thumb {
    background: $logo-color-secondary;
}

#container {
    min-height: 100%;
}

.link {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $logo-color;
    text-decoration:none;
    letter-spacing: 0.1rem;
}

.main {
    margin-top: 4.5rem;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4.5rem;
    z-index: 9999;
    background-color: #F2F5F5;
}
  
.sidebar-nav {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    padding-left: 35rem;
    padding-right: 35rem;
}

.sidebar-item {
    height: 100%;
}

.sidebar-link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 5rem;
    transition: background $transition-speed, color $transition-speed;
    justify-content: center;
}

.sidebar-link:hover .link{
    color: $logo-color-secondary;
}

.logo-link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 6rem;
    img {
        width: 3rem;
        min-width: 3rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.fa-primary {
    color: $icons-primary;
}

.fa-secondary {
    color: $icons-secondary;
}

.logo-text
{
    display: inline;
    position: absolute;
    left: -999px;
    transition: $transition-speed;
}


.is-active {
    // background: $icons-secondary;
    border-bottom: 1.3px solid $logo-color-secondary;
}

.is-active span{
    // background: $icons-secondary;
    color: $logo-color-secondary;
}


/* Small screens */
@media only screen and (max-width: 600px) {
    body {
        min-width: 100vw;
    }
    .logo {
        display: none;
    }

    .list-champions {
        padding-inline-start: 0 !important;
    }

    .main {
        margin-left: 0;
        padding-bottom: 0;
    }

    .left-col {
        margin-top: 3rem;
    }

    .right-col {
        max-height: 55vh !important;
        margin-top: 1rem;
        overflow: auto;
    }

    .footer {
        display: none !important;
    }
    .home {
        width: 100vw;
        padding: 2rem;
    }

    .head {
        display:none !important;
    }

    .sidebar-nav {
        padding-left: 0;
        padding-right: 0;
    }

    .left-col {
        .undertext {
            margin-top: 2rem;
            font-size: 1rem;
            text-align: center;
        }
        
        .line {
            margin: auto;
            width: 100%;
            border-bottom: 3px solid $logo-color;
        }
        .title2 {
            font-family: 'Bebas Neue', cursive;
            font-size: 2rem;
            text-transform: uppercase;
        }

        .swords {
            width: 3rem;
            min-width: 3rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2rem;
        }
    }
}

/* Large screens */
@media only screen and (min-width: 1025px) {

    .left-col {
        margin-top: 2rem;
    }

    .right-col {
        margin-top: 2rem;
        max-height: 100%;
        overflow: auto;
    }
    
    .list-champions {
        padding-inline-start: 0 !important;
    }
    
    .main {
        padding-bottom: 10rem;
    }

    .home {
        width: 96vw;
        padding: 3rem;
    }

  }

  /*medium screens*/
  @media only screen and (min-width: 600px) and (max-width: 1024px){
    .logo {
        display: none;
    }

    .sidebar-link {
        justify-content: center;
    }

    .list-champions {
        padding-inline-start: 0 !important;
    }

    .main {
        margin-left: 0;
        margin-bottom: 0;
        padding-bottom: 4rem;
    }

    .left-col {
        margin-top: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .right-col {
        max-height: 60vh !important;
        margin-top: 2rem;
        overflow: auto;
    }

    .footer {
        display: none !important;
    }

    .home {
        width: 100vw;
        padding: 2rem;
    }

    .head {
        height: 10rem;
        width: 100vw;
        background-color: #F2F5F5;
    
        .title {
            width: 100%;
            color: $text-primary;
            font-size: 4rem;
            letter-spacing: 1rem;
        }
    }

    .sidebar-nav {
        padding-left: 0;
        padding-right: 0;
    }
}