@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Permanent+Marker|Sen:400,700,800&display=swap');

$text-primary: #23232e;
$text-secondary: #141418;
$icons-primary: #ffffff;
$icons-secondary: #dddddd;
$icons-third: #bbbbbb;
$logo-color: #44C688;
$logo-color-secondary: #38a771;
$transition-speed: 600ms;

body {
    font-size: 1rem !important;
    font-family: 'Sen', sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    a:hover {
        cursor: pointer;
    }
}

body::-webkit-scrollbar {
    width: 0.4rem;
}

body::-webkit-scrollbar-track {
    background: $icons-primary;
}

body::-webkit-scrollbar-thumb {
    background: $logo-color-secondary;
}

.link {
    color: $text-primary;
    text-decoration:none;
}

.link:hover {
    color: $text-secondary;
    text-decoration:none;
}

.main {
    margin-top: 4.5rem;
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4.5rem;
    z-index: 9999;
    background-color: $logo-color;
}
  
.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.sidebar-item {
    height: 100%;
}

.sidebar-item:last-child {
    margin-left: auto;
}

.sidebar-link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 5rem;
    transition: background $transition-speed, color $transition-speed;
    filter: grayscale(100%) opacity(0.7);
    justify-content: center;
}

.sidebar-link:hover {
    filter: grayscale(0%) opacity(1);
    background: $logo-color-secondary;
}

.sidebar-link {
    svg {
        width: 1.5rem;
        min-width: 1.5rem;
        margin: 0 1.5rem;
    }
}

.logo-link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 6rem;
    img {
        width: 3rem;
        min-width: 3rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.fa-primary {
    color: $icons-primary;
}

.fa-secondary {
    color: $icons-secondary;
}

.fa-primary,
.fa-secondary {
    transition: $transition-speed;
}

.logo { 
    height: 100%;
}


.logo-text
{
    display: inline;
    position: absolute;
    left: -999px;
    transition: $transition-speed;
}


/* Small screens */
@media only screen and (max-width: 600px) {
    .logo {
        display: none;
    }

    .list-champions {
        padding-inline-start: 0 !important;
    }

    .main {
        margin-left: 0;
    }

    .left-col {
        margin-top: 0;
        margin-right: 0;
    }

    .right-col {
        max-height: 30vh !important;
        margin-top: 2rem;
        overflow: auto;
    }

    .is-active {
        // background: $icons-secondary;
        background-color: $logo-color-secondary;        
        filter: grayscale(0%) opacity(1);
    }

    .footer {
        display: none !important;
    }
    .home {
        width: 100vw;
        padding: 2rem;
    }
}

/* Large screens */
@media only screen and (min-width: 1025px) {

    .left-col {
        margin-top: 2rem;
    }

    .right-col {
        margin-top: 2rem;
        max-height: 95vh;
        overflow: auto;
    }
    
    .list-champions {
        padding-inline-start: 0 !important;
    }

    .is-active {
        // background: $icons-secondary;
        background-color: $logo-color-secondary;
        filter: grayscale(0%) opacity(1);
    }

    
    .main {
        margin-top: 4.5rem;
    }

    .home {
        width: 96vw;
        padding: 3rem;
    }

  }

  /*medium screens*/
  @media only screen and (min-width: 600px) and (max-width: 1024px){
    .logo {
        display: none;
    }

    .sidebar-link {
        justify-content: center;
    }

    .list-champions {
        padding-inline-start: 0 !important;
    }

    .main {
        margin-left: 0;
        margin-bottom: 0;
    }

    .left-col {
        margin-top: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .right-col {
        max-height: 60vh !important;
        margin-top: 2rem;
        overflow: auto;
    }

    .sidebar-link:hover {
        border-bottom: 2px $icons-primary;
        border-right: none;
    }

    .is-active {
        // background: $icons-secondary;
        background-color: $logo-color-secondary;        
        filter: grayscale(0%) opacity(1);
    }

    .footer {
        display: none !important;
    }

    .home {
        width: 100vw;
        padding: 2rem;
    }
}